.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(67,67,67,1) 39%, rgba(24,24,24,1) 92%, rgba(24,24,24,1) 100%);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-top: 180px;
    width: 100%;
    height: auto;

}

.header__content > h3 {
    font-size: 1.4em;

}

.header__content > p {
    color: #A9A9A9;
    width: 100%;
    max-width: 650px;
}

.header__content > p > span {
    color: #64a19d ;
}

.header__content > img {
    width: 100%;
    max-width: 700px;
    margin-top: 60px;
}