.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

/* TITLE AND NAV SECTION */

.header-apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('../img/bg-masthead.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 720px;
}

/* TOP BAR  */

.top-header {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
}

.nav-bar > a {
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/* MAIN TITLE HEADER */

.header-title {
    text-align: center;
    padding-top: 196px;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.header-title > h1 {
    letter-spacing: 0.2em;
    font-size: 4em;
}

.header-title > button {
    background: #64a19d;
    padding: 13px;
    border: 0;
    border-radius: 4px;
    margin-top: 31px;
    font-weight: bold;
}


/* HEADER CONTENT SECTION */

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(67,67,67,1) 39%, rgba(25,25,25,1) 100%, rgba(2,0,36,1) 100%);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 180px 200px 0 200px;
    width: 100%;
    height: auto;

}

.header-content > h3 {
    font-size: 1.4em;

}

.header-content > p {
    color: #A9A9A9;
    padding: 18px 200px;
}

.header-content > p > span {
    color: #64a19d ;
}

.header-content > img {
    width: 100%;
    max-width: 700px;
}






