.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: 'Nunito', sans-serif;
}

.main__img {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-top: 100px;
}

.main__img > figure {
    display: flex;
    align-items: center;
}

.main__img > figure > img {
    width: 100%;
    max-width: 500px;
    height: 280px;
}

.main__img > figure > figcaption > h5 {
    color: #696969;
    font-size: 1.3em;
    font-weight: initial;
    padding-left: 30px;
    border-left: 5px solid #64a19d;
    
}

.main__img > figure > figcaption > p {
    color: #A9A9A9;
    padding-left: 30px;
    border-left: 5px solid #64a19d;
}

/* IMAGE BOX */

.main__demonstration {
    width: 100%;
    max-width: 1000px;
    background-color: #161616;
    margin-top: 30px;
    margin-bottom: 80px;
}

.main__top, .main__bottom {
    display: flex;
    align-items: center;
}

.main__top > img, .main__bottom > img  {
    width: 100%;
    max-width: 400px;
}

.main__top > figcaption {
    padding-left: 60px;
    padding-right: 76px;
}

.main__top figcaption > h5, .main__bottom figcaption > h5 {
    font-size: 1.3em;
    color: #fff;
    font-weight: initial;
}

.main__top figcaption > p, .main__bottom figcaption > p {
    color: #A9A9A9;
    text-align: left;
}

.bar {
    width: 30px;
    padding-right: 128px;
    height: 5px;
    background: #64a19d;
    margin-top: 10px;
}

/* IMG BOTTOM OF THIS BOX */

.main__bottom {
    flex-direction: row-reverse;
}

.main__bottom > figcaption {
    padding-right: 60px;
    padding-left: 2px;
    text-align: right;
}

.main__bottom > figcaption > p {
    text-align: right;
}

.main__bottom .bar:last-child {
    margin-left: 408px;

}





/* MEDIA QUERIE */

@media screen and (max-width: 800px) {

    .main__img > figure {
        flex-direction: column;
        margin-left: 50px;
        padding-right: 0 ;
    }

    .main__img > figure > figcaption {
        text-align: center;
    }

    .main__img > figure > figcaption > h5 {
        font-size: 1rem;
        border-left: none;
    }

    .main__img > figure > figcaption > p {
        font-size: 0.8em;
        border-left: none;
    }
}

@media screen and (max-width: 935px) {

    .main__top, .main__bottom {
        display: flex;
        flex-direction: column;
    }
    .main__top > figcaption > p, .main__bottom > figcaption > p {
        text-align: center;
    }

    .main__top > figcaption > h5, .main__bottom > figcaption > h5 {
        text-align: center;
    }

    .main__top figcaption > .bar, .main__bottom figcaption > .bar {
        display: none;
    }
}